.skew-div {
    z-index: 1;

    background-color: black;
    height: 800px;
    transform: skewY(8deg);
    margin-bottom: -680px;
}

.main-div {
    z-index: 5;
    position: relative;
    background-color: black;
    color: white;
    font-family: 'Overpass', sans-serif;
}

.h2 {
    font-family: 'Syne', sans-serif;
    font-size: 78px;
    font-weight: 800;
    margin-left: 200px;

    &:hover {
        color: #FF9900;
        cursor: default;
    }
}

.form {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 32px;
}

.headline-form {
    color: #FF9900;
    font-size: 32px;
    font-weight: 700;
}

.subtitle-form {
    font-size: 23px;
    font-weight: 400;
}

.input-div {
    width: 50%;
    position: relative;
}

input,
textarea {
    background-color: black;
    color: white;
    border: 3px solid transparent;
    border-bottom: 1px solid white;
    padding: 16px;
    outline: none;
    margin: 16px;
    width: 100%;

    &:hover {
        cursor: pointer;
        border: 3px solid white;
    }
}

input::placeholder,
textarea::placeholder {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    color: white;
}

.clicked-input {
    border: 3px solid white !important;
}

.check-image {
    position: absolute;
    right: 8px;
    top: 28px;
}

.warning-txt {
    color: red;
    margin-left: 36px;
}

.policy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.policy img {
    &:hover {
        height: 24px;
        background-color: #FF9900;
        border-radius: 50%;
        cursor: pointer;
    }
}

.policy-span {
    color: #FF9900;
    cursor: pointer;

    &:hover {
        font-size: 17px;
        font-weight: 400;
    }
}

button {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    outline: none;
}

.disabled {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    color: gray;
    border: solid 4px gray;
    padding: 16px 48px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}



.btn {
    color: white;
    border: solid 4px white;
    transition: padding 0.15s ease, font-weight 0.15s ease;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        padding: 16px 72px;
        font-weight: 700;
    }
}

.subline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.logo {
    position: relative;
    font-size: 28px;
    font-weight: 900;
}

.b {
    position: absolute;
    right: 14px;
    top: 4px;
}

.b-hidden-placeholder {
    color: black;
}

.slash-cream {
    position: absolute;
    color: black;
    right: 24px;
    transform: rotate(-16deg);
    z-index: 1;
    font-weight: 700;
}

.copyright {
    margin-top: 24px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 32px;
}

.arrow-up {
    margin-bottom: 32px;

    &:hover {
        cursor: pointer;
        animation: socialIconHover 500ms forwards;
    }
}

.social-icons img {
    padding: 16px;
    padding-left: 32px;
    padding-right: 0;

    &:hover {
        cursor: pointer;
        animation: socialIconHover 500ms ease;
        transform: translateY(-30%);
    }
}

@keyframes socialIconHover {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30%);
    }
}

.legal-notice {
    font-family: 'Overpass', sans-serif;
    position: relative;
    display: inline-block;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: transparent;
        transform-origin: bottom left;
        transform: scaleX(1);
        transition: transform 300ms ease-out;
    }

    &:hover::after {
        background-color: #FF9900;
        transform-origin: bottom right;
        transform: scaleX(0.5);
    }

    &:hover {
        font-weight: 700;
        cursor: pointer;
    }
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.success {
    position: absolute;
    bottom: -80px;
    border-radius: 4px;
    background-color: #FF9900;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    animation: success 5s forwards;
}

@keyframes success {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

//    Responsive Design

@media(max-width: 1500px) {
    .h2 {
        margin-left: 150px;
    }

    .subline {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media(max-width: 1100px) {
    .h2 {
        margin-left: 100px;
    }

    .subtitle-form {
        text-wrap: wrap;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .subline {
        margin-left: 100px;
        margin-right: 100px;
    }
}


@media(max-width: 975px) {
    .h2 {
        margin-left: 70px;
    }

    .subtitle-form,
    .subline,
    .input-div {
        margin-left: 70px;
        margin-right: 70px;
    }

    .input-div {
        width: 70%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 740px) {
    .policy {
        text-wrap: wrap;
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
    }

    .send-btn {
        margin: 32px;
    }
}

@media(max-width: 580px) {
    .h2 {
        text-wrap: wrap;
        font-size: 43px;
    }

    .form {
        margin-top: 30px;
    }

    .subtitle-form,
    .subline,
    .input-div,
    .policy,
    .h2 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .input-div {
        width: 90%;
    }

    .arrow-up {
        display: none;
    }

    .subline {
        flex-direction: column;
        position: relative;
    }

    .footer-right,
    .footer-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
    }

    .footer-left {
        margin-top: 128px;
    }

    .social-icons {
        position: absolute;
        top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-icons img {
        padding-right: 32px;
    }

    .legal-notice {
        margin-bottom: 32px;
    }
}