<div class="skew-div"></div>

<div class="main-div">

    <span class="h2">Say Hi!</span>

    <form class="form" (submit)="sendMessage()" #myForm>
        <span class="headline-form">Sie haben Fragen?</span>
        <span class="subtitle-form">Bitte zögern Sie nicht, mir eine Nachricht zukommen zu lassen. Ich freue
            mich!</span>
        <div class="input-div">
            <input #nameField type="text" placeholder="Name" name="name" [class.clicked-input]="clickedInputs[0]"
                (click)="onInputClick(0)" (blur)="onInputBlur(0)" (input)="onInputChange($event, 0)"
                (focus)="onInputFocus(0)">
            <img *ngIf="clickedInputs[0] || showCheckImage[0]" [src]="checkImageSource(0)" alt="Check Image"
                class="check-image">
            <span class="warning-txt" *ngIf="showMissingImage[0]">This field is requiered. Please fill in a name.</span>
        </div>

        <div class="input-div">
            <input #mailField type="email" placeholder="Email" [class.clicked-input]="clickedInputs[1]"
                (click)="onInputClick(1)" (blur)="onInputBlur(1) " (input)="onInputChange($event, 1)"
                (focus)="onInputFocus(1)">
            <img *ngIf="clickedInputs[1] || showCheckImage[1]" [src]="checkImageSource(1)" alt="Check Image"
                class="check-image">
            <span class="warning-txt" *ngIf="showMissingImage[1]">This field is requiered. Please fill in an
                emailadress.</span>
        </div>

        <div class="input-div">
            <textarea #messageField name="message" cols="30" rows="10" placeholder="Nachricht"
                [class.clicked-input]="clickedInputs[2]" (click)="onInputClick(2)" (blur)="onInputBlur(2)"
                (input)="onInputChange($event, 2)" (focus)="onInputFocus(2)"></textarea>
            <img *ngIf="clickedInputs[2] || showCheckImage[2]" [src]="checkImageSource(2)" alt="Check Image"
                class="check-image">
            <span class="warning-txt" *ngIf="showMissingImage[2]">This field is requiered. Please fill in a
                message.</span>
        </div>

        <div class="policy">
            <img [src]="policyAccept ? 'assets/img/accept.png' : 'assets/img/check-btn.png'" alt="checkbox"
                (click)="checkPolicy()">
            <span>Ich habe die <span class="policy-span" routerLink="/policy">Datenschutzerklärung</span> gelesen und stimme den Bedingungen
                zu.</span>
        </div>
        <button><div [class.btn]="btnEnabled" class="disabled send-btn" (click)="btnEnabled && sendMessage()">Senden</div></button>
        <div *ngIf="sendingMessage" class="loader"></div>
        <div *ngIf="success" class="success">Vielen Dank, die Nachricht wurde erfolgreich gesendet. Ich melde mich in kürze bei Ihnen.</div>

    </form>

    <div class="subline">
        <div class="footer-left">
            <span class="logo">
                [<span class="m">M</span>
                <span class="slash-cream">/</span>
                <span class="b-hidden-placeholder">B</span>
                <span class="b">B</span>]
            </span>
            <div class="copyright">&copy; Matthias Berthold 2023</div>
        </div>

        <div class="footer-right">
            <a href="#atf" class="arrow-up">
                <img src="assets/img/arrow-up.png" alt="to top">
            </a>
            <div class="social-icons">
                <a href="https://github.com/MaBerthold/" target="_blank"><img src="assets/img/Github button s3.png" alt="github"></a>
                <a href="mailto:matthiasberthold33@gmail.com"><img src="assets/img/Email button s3.png" alt="email"></a>
                <a href="#"><img src="assets/img/Linkedin button s3.png" alt="linkedIn"></a>
            </div>
            <span class="legal-notice" routerLink="/legal">Legal notice</span>
        </div>
    </div>
</div>