.logo {
    position: relative;
    font-size: 28px;
    margin-left: 200px;
    font-weight: 900;
    font-family: 'Overpass', sans-serif;
}

.b {
    position: absolute;
    right: 14px;
    top: 4px;
}

.b-hidden-placeholder {
    color: #FFFCF3;
}

.slash-cream {
    position: absolute;
    color: #FFFCF3;
    right: 24px;
    transform: rotate(-16deg);
    z-index: 1;
    font-weight: 700;
}

.burger-menu-div {
    position: absolute;
    right: 200px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        cursor: pointer;
    }
}

.burger-menu-div.changed-menu .burger-menu {

    .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 13px);
    }

    .bar:nth-child(2) {
        opacity: 0;
    }

    .bar:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -13px);
    }
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
}
