<div class="main-div">

    <div class="subline">
        <div class="footer-left">
            <div class="logo"></div>
            <div class="copyright"><img src="" alt="copyright">Matthias Berthold 2023</div>
        </div>

        <div class="footer-right">
            <div class="arrow-up">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="social-icons">
                <img src="" alt="github">
                <img src="" alt="">
                <img src="" alt="linkedIn">
            </div>
            <span class="legal-notice">Legal notice</span>
        </div>
    </div>
</div>