<div class="main-div">
    <span class="h2">Say Hi!</span>

    <form class="form">
        <span class="headline-form">Sie haben Fragen?</span>
        <span class="subtitle-form">Bitte zögern Sie nicht, mir eine Nachricht zukommen zu lassen. Ich freue mich!</span>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <textarea name="message" id="" cols="30" rows="10" placeholder="Nachricht"></textarea>
    </form>

    <div class="subline">
        <div class="footer-left">
            <span class="logo">
                [<span class="m">M</span>
                <span class="slash-cream">/</span>
                <span class="b-hidden-placeholder">B</span>
                <span class="b">B</span>]
            </span>
            <div class="copyright">&copy; Matthias Berthold 2023</div>
        </div>

        <div class="footer-right">
            <div class="arrow-up">
                <img src="" alt="">
                <img src="" alt="">
            </div>
            <div class="social-icons">
                <img src="assets/img/Github button s3.png" alt="github">
                <img src="assets/img/Email button s3.png" alt="email">
                <img src="assets/img/Linkedin button s3.png" alt="linkedIn">
            </div>
            <span class="legal-notice">Legal notice</span>
        </div>
    </div>
</div>