<div class="headline-div">
    <div class="h1">
        <span>Frontend</span>
        <span>Developer</span>
    </div>
    <div class="seperator-and-name-div">
        <div class="seperator-headline"></div>
        <span class="my-name-headline">Matthias Berthold</span>
    </div>
</div>

<div class="mail-and-scroll-line">
    <div class="email-90deg-div">
        <div class="email-90deg">matthiasberthold33&#64;gmail.com</div>
    </div>
    <div class="scroll-down">
        <div class="scroll-arrow">
            <div class="image-container" [class.start-animation]="animation">
                <img class="first-image" src="assets/img/arrow-empty.png" alt="First Image">
                <img class="second-image" src="assets/img/arrow-down1.png" alt="Second Image">
                <img class="third-image" src="assets/img/arrow-down2.png" alt="Third Image">
                <img class="fourth-image" src="assets/img/arrow-down3.png" alt="Fourth Image">
                <img class="fivth-image" src="assets/img/arrow-down4.png" alt="Fivth Image">
                <img class="sixth-image" src="assets/img/arrow-empty.png" alt="Sixth Image">
            </div>

        </div>
        Scroll <br>Down
        <div id="about-me"></div>
    </div>
   
</div>