.headline-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Syne', sans-serif;
  font-size: 128px;
  font-weight: 800;
  margin-top: 204px;
}

.seperator-and-name-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.seperator-headline {
  height: 4px;
  background-color: black;
  width: 500px;
}

.my-name-headline {
  color: #FF9900;
  font-size: 48px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

.mail-and-scroll-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 200px;
  margin-left: 200px;
}

.email-90deg-div {
  position: relative;
  margin-top: 200px;
  height: 400px;
}

.email-90deg {
  font-size: 23px;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  position: absolute;
  left: -135px;
  transform: rotate(-90deg);

  &:hover {
    cursor: pointer;
  }
}

.scroll-down {
  position: relative;
  font-size: 23px;
  position: absolute;
  right: 0;
  bottom: 233px;
}

.scroll-arrow {
  position: absolute;
  top: -200px;
  left: -30px;
}

.image-container img {
  position: absolute;
  top: 0;
  opacity: 0;
}

.image-container.start-animation .first-image {
  animation: fadeIn 200ms forwards;
}

.image-container.start-animation .second-image {
  animation: fadeIn 200ms forwards;
  animation-delay: 200ms;
}

.image-container.start-animation .third-image {
  animation: fadeIn 200ms forwards;
  animation-delay: 400ms;
}

.image-container.start-animation .fourth-image {
  animation: fadeIn 200ms forwards;
  animation-delay: 600ms;
}

.image-container.start-animation .fivth-image {
  animation: fadeIn 200ms forwards;
  animation-delay: 800ms;
}

.image-container.start-animation .sixth-image {
  animation: fadeIn 200ms forwards;
  animation-delay: 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

// Responsive Design

@media(max-width: 1500px) {
  .mail-and-scroll-line {
    margin-right: 150px;
    margin-left: 150px;
  }

  .h1 {
    font-size: 96px;
  }

  .my-name-headline {
    font-size: 36px;
  }

  .seperator-headline {
    width: 400px;
  }
}

@media(max-width: 1100px) {
  .mail-and-scroll-line {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media(max-width: 975px) {
  .mail-and-scroll-line {
    margin-right: 70px;
    margin-left: 70px;
  }

  .h1 {
    font-size: 88px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .my-name-headline {
    font-size: 32px;
  }

  .seperator-headline {
    width: 300px;
  }
}

@media(max-width: 870px) {
  .h1 {
    font-size: 80px;
    margin-top: 150px;
  }

  .my-name-headline {
    font-size: 28px;
  }

  .seperator-headline {
    width: 300px;
  }
}

@media(max-width: 805px) {
  .h1 {
    font-size: 64px;
  }

  .my-name-headline {
    font-size: 24px;
  }

  .seperator-headline {
    width: 250px;
  }
}

@media(max-width: 675px) {
  .h1 {
    font-size: 54px;
  }

  .my-name-headline {
    font-size: 23px;
  }

  .seperator-headline {
    width: 200px;
  }
}
@media(max-width: 580px) {
  .mail-and-scroll-line,
  .h1 {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media(max-width: 520px) {
  .h1 {
    font-size: 45px;
  }

  .my-name-headline {
    font-size: 23px;
  }

  .seperator-headline {
    width: 130px;
  }
}

@media(max-width: 450px) {
  .h1 {
    font-size: 38px;
  }

  .my-name-headline,
  .email-90deg,
  .scroll-down {
    font-size: 20px;
  }

  .scroll-arrow {
    left: -37px;
  }

  .seperator-headline {
    width: 100px;
  }
}

@media(max-width: 410px) {
  .h1 {
    font-size: 36px;
  }

  .my-name-headline {
    font-size: 18px;
  }

  .seperator-headline {
    width: 100px;
  }
}

@media(max-width: 375px) {
  .h1 {
    font-size: 32px;
  }

  .my-name-headline {
    font-size: 18px;
  }

  .seperator-headline {
    width: 100px;
  }
}

@media(max-width: 340px) {
  .h1 {
    font-size: 30px;
  }

  .my-name-headline {
    font-size: 16px;
  }

  .seperator-headline {
    width: 75px;
  }
}