<div class="about-me-div">
    <div class="about-me-section">
        <span class="h1">About me</span>
        <div class="about-me-txt-and-img">
            <div class="about-me-txt-and-btn">
                <div class="about-me-txt">
                    Hallo, ich heiße Matthias und freue mich riesig auf den neuen Job !!! <br>
                    Ich habe jede Menge tolle Ideen und kann sogar aus dem Homeoffice arbeiten. Somit werden viele
                    frustrierende
                    Stunden in der Berliner S-Bahn unterbunden. Klasse, nicht wahr...?
                    <br> <br>
                    Also dann, meldet Euch !!
                </div>
                <div class="lets-talk-div">
                    <div class="lets-talk btn">
                        Let's talk
                    </div>
                </div>
            </div>
            <div class="img-div">
                <img src="assets/img/Matthias.jpg" alt="">
                <div class="hidden-container"></div>
            </div>
        </div>
    </div>
</div>