<div class="headline-div">
    <div class="h1">
        <span>Frontend</span>
        <span>Developer</span>
    </div>
    <div class="seperator-and-name-div">
        <div class="seperator-headline"></div>
        <span class="my-name-headline">Matthias Berthold</span>
    </div>
</div>

<div class="mail-and-scroll-line">
    <div class="email-90deg-div">
        <div class="email-90deg">matthiasberthold33&#64;gmail.com</div>
    </div>
    <div class="scroll-down">Scroll <br>Down</div>
</div>