.image-div3 {
    position: relative;
    width: 300px;
  }
  
  .second-image, .third-image {
      position: absolute;
      top: 0;
      opacity: 0;
  }
  
  .image-div3.start-animation .first-image {
    animation: fadeIn 100ms forwards;
  }
  
  .image-div3.start-animation .second-image { 
    animation: fadeIn 100ms forwards; 
    animation-delay: 100ms;
  }
  
  .image-div3.start-animation .third-image {
    animation: stay 1s forwards;
    animation-delay: 200ms;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    5%, 99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes stay {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  