.image-div3 {
  margin-right: 200px;
  margin-left: 200px;
  position: relative;
  height: 300px;
}

.first-image,
.second-image,
.third-image {
  position: absolute;
  right: 200px;
  top: 0;
}

.second-image,
.third-image {
  opacity: 0;
}

.image-div3.start-animation .first-image {
  animation: fadeIn 100ms forwards;
}

.image-div3.start-animation .second-image {
  animation: fadeIn 100ms forwards;
  animation-delay: 100ms;
}

.image-div3.start-animation .third-image {
  animation: stay 1s forwards;
  animation-delay: 200ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  5%,
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

// Responsive Design

@media(max-width: 1500px) {

  .first-image,
  .second-image,
  .third-image {
    right: -160px;
  }
}

@media(max-width: 800px) {
  .image-div3 {
    margin-top: 200px;
  }
}



@media(max-width: 500px) {
  .first-image,
  .second-image,
  .third-image {
    right: -180px;
  }

  .image-div3 {
    margin-top: 250px;
  }
}

@media(max-width: 460px) {
  .first-image,
  .second-image,
  .third-image {
    right: -160px;
  }

  .image-div3 {
    margin-top: 400px;
  }
}


@media(max-width: 400px) {
  .first-image,
  .second-image,
  .third-image {
    right: -130px;
    height: 250px;
  }
}

@media(max-width: 350px) {
  .first-image,
  .second-image,
  .third-image {
    height: 200px;
    right: -100px;
    top: 70px;
  }
}