<div class="main-div">
    <div class="menu">
        <div class="menu-element">
            <div>
                <img src="assets/img/rectangle.png" alt="">
                <a href="#about-me">About me</a>
            </div>
            <span class="seperator"></span>
        </div>
        <div class="menu-element">
            <div>
                <img src="assets/img/rectangle.png" alt="">
                <a href="#skills">My skills</a>
            </div>
            <span class="seperator"></span>
        </div>
        <div class="menu-element">
            <div>
                <img src="assets/img/rectangle.png" alt="">
                <a href="#portfolio">Portfolio</a>
            </div>
            <span class="seperator"></span>
        </div>
    </div>

    <div class="container"></div>
</div>