.main-div {
    position: relative;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 100px;
    gap: 64px;

    a {
        font-family: 'Syne', sans-serif;
        font-size: 96px;
        font-weight: 700;
        text-decoration: none;
        color: black;
    }

    img {
        position: absolute;
        top: 67px;
        left: -39px;
    }
}

.seperator {
    height: 4px;
    width: 100%;
    background-color: transparent;
}

.menu-element {
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover .seperator {
        background-color: black;
        animation: seperatorDrive 500ms forwards;
    }

    &:hover img {
        opacity: 0;
    }
}

@keyframes seperatorDrive {
    from {
        width: 100%;
    }
    to {
        margin-left: 50%;
        width: 50%;
    }   
}

.container {
    width: 50%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: black;
    clip-path: polygon(0 0, 70% 70%, 100% 100%, 0 100%);
}