<div class="main-div">
    <div class="menu">
        <div>
            <img src="assets/img/rectangle.png" alt="">
            <a href="#about-me">About me</a>
            <img src="assets/img/line-long.png" alt="">
        </div>
        <div>
            <img src="assets/img/rectangle.png" alt="">
            <a href="#skills">My skills</a>
            <img src="assets/img/line-long.png" alt="">
        </div>
        <div>
            <img src="assets/img/rectangle.png" alt="">
            <a href="#portfolio">Portfolio</a>
            <img src="assets/img/line-long.png" alt="">
        </div>
    </div>

    <div class="container"></div>
</div>