.about-me-div {
    display: flex;
}

.about-me-section {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h2 {
    font-family: 'Syne', sans-serif;
    font-size: 78px;
    font-weight: 800;

    &:hover {
        color: #FF9900;
        cursor: default;
    }
}

.about-me-txt-and-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.about-me-txt {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.img-div {
    display: flex;
    position: relative;
}

.about-me-div img {
    object-fit: cover;
    margin-left: 70px;
    width: 360px;  
}

.hidden-container {
    position: absolute;
    background-color: transparent;
    left: 85px;
    top: 20px;
    height: 355px;
    width: 360px;
    border: solid 4px transparent;

    &:hover {
        border: solid 4px black;
    }
}

.lets-talk-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lets-talk-div a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    border: solid 4px black;
    padding: 16px 48px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.15s ease, font-weight 0.15s ease;

    &:hover {
        cursor: pointer;
        padding: 16px 72px;
        font-weight: 700;
    }
}

.lets-talk {
    margin-top: 64px;
}

// Responsive Design

@media(max-width: 1500px) {
    .about-me-section {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media(max-width: 1100px) {
    .about-me-section {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media(max-width: 975px) {
    .about-me-section {
        margin-left: 70px;
        margin-right: 70px;
    }
}