.about-me-div {
    display: flex;
}

.about-me-section {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h2 {
    font-family: 'Syne', sans-serif;
    font-size: 78px;
    font-weight: 800;

    &:hover {
        color: #FF9900;
        cursor: default;
    }
}

.about-me-txt-and-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.about-me-txt {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 23px;
}

.img-div {
    display: flex;
    position: relative;
}

.about-me-div img {
    object-fit: cover;
    margin-left: 70px;
    width: 360px;
}

.hidden-container {
    position: absolute;
    background-color: transparent;
    left: 85px;
    top: 20px;
    height: 355px;
    width: 360px;
    border: solid 4px transparent;

    &:hover {
        border: solid 4px black;
    }
}

.lets-talk-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

.lets-talk-div a {
    text-decoration: none;
    color: black;
}

.btn {
    font-family: 'Overpass', sans-serif;
    font-size: 23px;
    border: solid 4px black;
    padding: 16px 48px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 0.15s ease, font-weight 0.15s ease;

    &:hover {
        cursor: pointer;
        padding: 16px 72px;
        font-weight: 700;
    }
}

.lets-talk {
    margin-top: 64px;
}

// Responsive Design

@media(max-width: 1500px) {
    .about-me-section {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media(max-width: 1100px) {
    .about-me-section {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media(max-width: 975px) {
    .about-me-section {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media(max-width: 870px) {
    .about-me-div img {
        width: 320px;
    }

    .hidden-container {
        width: 320px;
        height: 320px;
    }
}

@media(max-width: 830px) {
    .about-me-div img {
        margin-left: 30px;
    }
}

@media(max-width: 800px) {
    .h2 {
        font-size: 64px;
    }

    .about-me-section {
        align-items: center;
    }

    .about-me-txt-and-img {
        flex-direction: column;
        gap: 64px;
        align-items: center;
        position: relative;
    }

    .hidden-container {
        height: 400px;
        width: 380px;
        left: 64px;
    }

    .about-me-div img {
        object-fit: cover;
        width: 400px;
        margin-left: 0;
    }

    .lets-talk-div {
        position: absolute;
        margin-top: 0;
        top: -260px;
    }

    .lets-talk {
        margin-top: 0;
    }
}

@media(max-width: 660px) {
    .h2 {
        font-size: 56px;
    }

    .hidden-container {
        left: 34px;
    }
}

@media(max-width: 600px) {
    .h2 {
        font-size: 52px;
    }
}

@media(max-width: 580px) {
    .about-me-section {
        margin-left: 30px;
        margin-right: 30px;
    }

    .about-me-div img {
        width: 320px;
    }

    .hidden-container {
        width: 300px;
        height: 320px;
    }
}

@media(max-width: 500px) {
    .h2 {
        font-size: 45px;
    }
}

@media(max-width: 450px) {
    .h2 {
        font-size: 40px;
    }

    .about-me-div img {
        width: 300px;
    }

    .hidden-container {
        width: 280px;
        height: 300px;
    }

    .btn {
        font-size: 20px;
        width: 150px;
    }
}

@media(max-width: 375px) {
    .about-me-div img {
        width: 260px;
    }

    .hidden-container {
        width: 240px;
        height: 255px;
    }
}

@media(max-width: 330px) {
    .h2 {
        font-size: 30px;
    }

    .about-me-div img {
        width: 240px;
    }

    .hidden-container {
       left: 10px;
    }

    .btn {
        &:hover {
            padding: 16px 64px;
        }
    }
}