<div class="image-div2 full" [class.start-animation]="inViewport">
    <img class="first-image" src="assets/img/arrow-right1.png" alt="First Image">
  <img class="second-image" src="assets/img/arrow-right2.png" alt="Second Image">
  <img class="third-image" src="assets/img/arrow-right3.png" alt="Third Image">
</div>

<div class="image-div2 mobile" [class.start-animation]="inViewport">
  <img class="first-image" src="assets/img/arrow-mobile1.png" alt="First Image">
<img class="second-image" src="assets/img/arrow-mobile2.png" alt="Second Image">
<img class="third-image" src="assets/img/arrow-mobile3.png" alt="Third Image">
</div>
