.main-div-legal-notice {
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
}

.headline {
    margin-top: 150px;
}

@media(max-width: 1500px) {
    .main-div-legal-notice {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media(max-width: 1100px) {
    .main-div-legal-notice {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media(max-width: 975px) {
    .main-div-legal-notice {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media(max-width: 580px) {
    .main-div-legal-notice {
        margin-left: 30px;
        margin-right: 30px;
    }
}