.main-div-arrow1 {
  margin-right: 200px;
  margin-left: 200px;
  position: relative;
  height: 300px;
}

.first-image,
.second-image,
.third-image {
  position: absolute;
  right: 200px;
  top: 0;
}

.second-image,
.third-image {
  opacity: 0;
}

.image-div1.start-animation .first-image {
  animation: fadeIn 100ms forwards;
}

.image-div1.start-animation .second-image {
  animation: fadeIn 100ms forwards;
  animation-delay: 100ms;
}

.image-div1.start-animation .third-image {
  animation: stay 1s forwards;
  animation-delay: 200ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  5%,
  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stay {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}


// Responsive Design

@media(max-width: 1500px) {
  .image-div1 {}
}